@import "../abstract/color";


.social-media-post{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:1rem;
    margin: 5rem 0;
    .circle{
        background-color: $color-secondary-light;
        border-radius: 50%;
        width: 10rem;
        height: 10rem;

    }
}